body{
font-family: arial, helvetica;
background: e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: blue;
	width: 90%;
	max-width: 1000px;
	margin: auto;

}

.menu li a{
	text-decoration: none;
	color: lightblue ;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

/*seccion lateral*/

*{
 margin:0;
 padding:0;


}
.social{

position: fixed;
left: 0;
top:150px;
z-index: 2000;
}

.social ul{

	list-style: none;

}

.social ul li a{

	display: inline-block;
	color: #fff;
	background: #000;
	padding: 20px 15px;
	text-decoration: none;


	-webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms;
}
.social ul li .Zoo {background: red;}
.social ul li .Museo {background: blue;}
.social ul li .Catedral {background:cyan;}
.social ul li .Reserva {background: green;}
.social ul li .Desembocadura {background: orange;}
.social ul li .Estadio {background: purple;}



.social ul li a:hover {
padding: 30px 30px;
background: #000;
}

 /*footer*/
footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}
div.colum1 img {
 opacity:0.3;

   
   
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}



.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width:1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }














